html,body{
    width: 100%;
}
alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
#flotTip {
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    opacity: .80;
    filter: alpha(opacity=85);
}
.pieLabel div {
    color: white !important;
    text-shadow: 0 0 4px #000;
}
.flot {
    left: 0px;
    top: 0px;
    width: auto;
    height: 227px;
}